body {
    font-size: 1.5em;
	font-family: 'Droid Sans', sans-serif;
    line-height: 1.4;
	padding: 2em;
	background: rgb(241,221,137);
	color: rgb(112,51,73);
}


#conditionnements{
	color: rgb(80,110,74);
}